<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>soy categoria</h1>
    {{ categoria }}
        <!-- Categories -->
    <section class="categories">
        <div class="categories-content">
            <a href="{{ url_for('categoria') }}" class="category-item">
                <div class="category-icon">💻</div>
                <span>Laptop</span>
            </a>
            <a href="#" class="category-item">
                <div class="category-icon">🖥</div>
                <span>PC</span>
            </a>
            <a href="#" class="category-item">
                <div class="category-icon">⌨</div>
                <span>Accesorios</span>
            </a>
            <a href="#" class="category-item">
                <div class="category-icon">🖨</div>
                <span>Tintas</span>
            </a>
            <a href="#" class="category-item">
                <div class="category-icon">🔧</div>
                <span>Componentes</span>
            </a>
            <a href="#" class="category-item">
                <div class="category-icon">🖨</div>
                <span>Impresoras</span>
            </a>
            <a href="#" class="category-item">
                <div class="category-icon">🎮</div>
                <span>Gamer</span>
            </a>
            <a href="#" class="category-item">
                <div class="category-icon">📹</div>
                <span>Cámaras</span>
            </a>
        </div>
    </section>
</body>
</html>