<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <style>
        .caja{
            margin:10%;
            margin-left:30%;
            margin-right:30%;
            border:1px solid red
        }
    </style>
    <title>Document</title>
  </head>
  <body>
    <h1>Hola index</h1>
    <div class="caja">
      <form id="enviar" class="form-control" method="POST" action="{{ url_for('login') }}">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="txtCorreo"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword"
            name="txtPassword"
          />
        </div>
        <div class="mb-3">
            <span>{{mensaje}}</span>
        </div>
        <button type="submit" class="btn btn-primary" id="ola">Submit</button>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
